[Unit]
Description=Prometheus SoftEther Exporter
After=network.target

[Service]
ExecStart=/usr/local/bin/softether_exporter /etc/prometheus/softether.toml
User=nobody

[Install]
WantedBy=multi-user.target
